.weatherforecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    min-height: 50vh;
    width: 100%;
    background-color: #f8f9fa;
    box-sizing: border-box;
}

.weatherforecast-button {

    border: 1px solid #e5e7;
    margin-top: 1rem; 
    margin-bottom: 10px;
   
}